# ===============================
# SYSUP CONFIG FILE v0.1.0
# ===============================
# How to add other modules:
# 1. Move the module to
#    /modules/path
# 2. Add the path in this
#    config file in the order
#    you want the module to
#    execute
# 3. Save the config file
# ===============================
# How to enable/disable modules:
# Set path/module.sh=1 to enable
# Set path/module.sh=0 to disable
# ===============================

# --- DISTROS ---

# --- ARCH ---
arch/pacman.sh=0
arch/yay.sh=0

# --- DEBIAN ---
debian/apt.sh=0

# --- FEDORA ---
fedora/dnf.sh=0
fedora/copr.sh=0

# --- OTHER ---

# --- SYSUP ---
# We suggest to not 
# touch this section
# to keep the auto
# update feature
sysup/update.sh=1
sysup/template.sh=0

# --- EXTRA TOOLS ---
extra/appimage.sh=0
extra/flatpak.sh=0
extra/pipx.sh=0
extra/snap.sh=0

# ===============================
# Remember to save the
# plugin.conf file
# ===============================
# How to quit nano:
# nano: ctrl+O, enter, CTRL+X
# ===============================
